<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{base::layout(_,~{::main},_,~{::script})}">

    <main>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Employees</h1>

        </div>

        <div class="alert alert-success" role="alert" th:text="${customMessage}" th:if="${not #strings.isEmpty(customMessage)}">
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="card-header">
                    <a class="btn btn-info btn-sm float-right" th:href="@{/employees/add}">Add Employee</a>
                </div>
            </th:block>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Primary Address</th>
                                <th>Primary Contact Info</th>
                                <th>Age</th>
                                <th># of Years in<br />the Company</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="6" class="text-center">
                                    Populating...
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <script src="/js/appService.js"></script>

	<script>
				
		const app = () => {
			
			const ROLE_ADMIN = "admin";
			const ROLE_USER = "user";
			const roles = [[${#authentication.principal.authorities}]];
				
			const loadInit = () => {
				fetch();
				$("#dataTable").on('click', '.btnActionDelete', deleteEmployee);
			}
			
			const deleteEmployee = async (e) => {
				e.preventDefault();
				const id = e.target.dataset.id;
				
				const result = await appService().delete(id);
				document.location.reload();								
			}
			
			const fetch = () => {
				const table = $("#dataTable");
			
					$.post({
					  	url: '/graphql',
					  	data: JSON.stringify({ "query": `{
												  employees {
											    id
											    firstName
											    middleName
											    lastName    
											    age
											    yearsOfExperience
											    contacts { 
											    	id
											      contactNo
											      isPrimary
											    }
											    addresses { 
											    	id
											      address1
											      address2
											      isPrimary
											    }
											  }
											}` }),
				
				  		contentType: 'application/json'
				
					}).done(function(res) {
					  	 res.data && res.data.employees.length > 0 ? populate(res.data.employees) : populateEmpty();
					});	
			}
			const populateRow = (employee) => {
				
				const primaryAddress = employee.addresses.find(address => address.isPrimary);
				const primaryContact = employee.contacts.find(contact => contact.isPrimary);
				const address = primaryAddress ? `${primaryAddress.address1}, ${primaryAddress.address2}` : '';
				const contact = primaryContact ? primaryContact.contactNo : ''
				const action = hasRole(ROLE_ADMIN) ? 
								`
									<a class="btn btn-sm btn-primary" href="/employees/${employee.id}">Edit</a>
									<a class="btn btn-sm btn-danger btnActionDelete" data-id="${employee.id}" href="#">Delete</a>
									<a class="btn btn-sm btn-info" href="/employee/flow/configure/${employee.id}">Configure</a>
								`
								:		
								`
									<a class="btn btn-sm btn-primary" href="/employees/${employee.id}">Info</a>
									<a class="btn btn-sm btn-info" href="/employee/flow/view/${employee.id}">Onboarding</a>
								`
				
				return `
						<tr>
		                    <td>${employee.firstName} ${employee.middleName} ${employee.lastName}</td>
		                    <td>${address}</td>
		                    <td>${contact}</td>
		                    <td>${employee.age}</td>
		                    <td>${employee.yearsOfExperience}</td>
		                    <td class="text-center">
								${action}
							</td>
		                </tr>
					`;
			};
			
			const populate = (employees) => {
				
				const table = $("#dataTable");
				table.find("tbody").empty();
				
				employees.forEach( employee => {	
					table.find("tbody").append( populateRow(employee) );
				});
			}
		
			const populateEmpty = () => {
				const table = $("#dataTable");
				table.find("tbody").html(`<tr><td colspan="6" class="text-center">No record found</td></tr>`);	 
			}
				
			const hasRole = (role) => roles.find( r => r == role)
		
			
			return {
				init : loadInit
			}
		}
		
		window.addEventListener("load", app().init);
	</script>

</html>